<h1>Cadastro de usuário</h1>
<form #f="ngForm" (submit)="form_cadastro(f)">
  <input type="email" required ngModel name="email" placeholder="E-mail"><br>
  <input type="email" required ngModel name="emailconfirmacao" placeholder="Confirme o e-mail">
  <small *ngIf="!verificaSeEmailsSaoIguais(f)">E-mails não são iguais</small>
  <br>
  <input type="password" required ngModel name="senha" placeholder="Senha"><br>
  <input type="password" required ngModel name="senhaconfirmacao" placeholder="Confirme a senha">
  <small *ngIf="!verificaSeSenhasSaoIguais(f)">Senhas não conferem</small><br>
  <button type="submit" [disabled]="!verificaSeFormValido(f)">Cadastrar</button>
</form>
